version: '3.8'

services:
  # PostgreSQL Database
  postgres:
    image: postgres:15-alpine
    container_name: p2p-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: p2p_payment_db
      POSTGRES_USER: dan4e
      POSTGRES_PASSWORD: 12345678Ll
      LANG: en_US.UTF-8
      LC_ALL: en_US.UTF-8
      LC_CTYPE: en_US.UTF-8
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5434:5432"
    volumes:
      - ./pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U dan4e -d p2p_payment_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Redis Cache
  redis:
    image: redis:7-alpine
    container_name: p2p-redis
    restart: unless-stopped
    command: redis-server --appendonly yes --requirepass redis_password
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5
  redis-insight:
    image: redis/redisinsight:latest
    container_name: p2p-redis-insight
    restart: unless-stopped
    ports:
      - "5540:5540"
    depends_on:
      - redis
volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local